 <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">Projects</h1>
        <br>
        <div
          class="col-md-12 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
          <p>
            <b>1) Effort-Bypass(Online judging and chatting platform )</b><span> <a
                href="https://effort-bypass-client.vercel.app/">GITHUB</a></span><br>
            <i>Team Project (4 members)/Event - Techspardha /Role : Frontend-developer</i><br>
            ∗ Domain: React JS , CSS , Node JS , Socket io , MongoDB ,Docker<br>
            ∗ Description:Implemented an integrated online judge and chatting platform for our college.<br>
            <br>
            <b>2) Restaurant Website </b><span> <a
                href="https://shreyabansal28.github.io/Food_Plaza/views/home.html">GITHUB</a></span><br>
            <i>Team Project (2 members)/Role : Frontend-developer</i><br>
            ∗ Domain: HTML , CSS , JavaScript, NodeJS<br>
            ∗ Description: The project included making a website that include the chefs name, panel for staff log
            ,dishes along with their prices, special discount offers, reviews of people and also book your table .
            .<br>
            <br>

            <b>3) NGO Website </b><span> <a
                href="https://shreyabansal28.github.io/Little_Hearts_NGO/aboutus.html">GITHUB</a></span><br>
            <i>Frontend-developer</i><br>
            ∗ Domain: HTML , CSS , JavaScript <br>
            ∗ Description: Made a website for NGO (Little Heart) that include donation form , contact page for
            queries with proper website layout .<br>
            <br>

            <b>4) Rythm-music world </b><span> <a
                href="https://shreyabansal28.github.io/Rythm-Feel-Music/project.html">GITHUB</a></span><br>
            <i>Static Website</i><br>
            ∗ Domain: HTML , CSS , JavaScript <br>
            ∗ Description:This music player will have all the features found in a typical music player. You will be
            able to add, play, pause and seek songs that have been added.
            
          </p>


        </div>

      </div>
    </div>
  </div>