 <div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">Skills</h1>
        <p></p>
        <div class="row">
          <div class="col-md-3">
            <div class="box">
              <div class="our-services settings">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png">
                  </div>
                  <h4>Programming Languages</h4>
                  <p> C++<br>(Fully proficient) <br> c<br>(Intermediate level)  <br>Python<br>(Intermediate level) <br> Java<br>(Beginner level)</p>
                </div>

              </div>
            </div>
          <div class="col-md-3">
            <div class="box">
              <div class="our-services backups">
                <div class="icon">
                  <img src="https://i.imgur.com/vdH9LKi.png">
                  </div>
                  <h4>Web Technologies</h4>
                  <p>HTML <br> CSS <br> Bootstrap <br>JavaScript <br>Reactjs <br>Nodejs <br> SQL<br> MongoDB <br> Expressjs<br> Socket.io</p>
                </div>

              </div>
            </div>
             <div class="col-md-3">
            <div class="box">
              <div class="our-services ssl">
                <div class="icon">
                  <img src="https://i.imgur.com/v6OnUqu.png">
                  </div>
                  <h4>Soft Skills</h4>
                  <p> Leadership<br>Event Management<br>Teamwork <br> Public Speaking<br> Time Management<br>Adaptability<br>Critical thinking<br>Problem solving<br>Creativity</p>
                </div>

              </div>
            </div>
             <div class="col-md-3">
            <div class="box">
              <div class="our-services database">
                <div class="icon">
                  <img src="https://i.imgur.com/VzjZw9M.png">
                  </div>
                  <h4>Courses</h4>
                  <p>Operating Systems<br> Data Structures<br>Analysis Of Algorithms<br> Object Oriented Programming<br>
Software Engineering <br>  Networking<br> Databases<br>Theory of
Computation<br>Soft Computing<br>Unified Modeling Language</p>
                </div>

              </div>
            </div>




          </div>
           


        </div>

      </div>
    </div>
  </div>